/* Estilos para o Rodapé */
footer {
    background-color: #222; /* Fundo escuro para o rodapé */
    color: #fff; /* Texto branco */
    padding: 20px 0; /* Espaçamento vertical */
    font-family: 'Poppins', sans-serif; /* Fonte consistente com o resto da página */
}

#footer_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8% 24px 8%; /* Espaçamento lateral e inferior */
}

#copyright {
    color: #ff6600; /* Laranja para o copyright */
    font-weight: 500;
}

.social-media-buttons a {
    background-color: #ff6600; /* Botões sociais com fundo laranja */
    color: #fff;
    padding: 10px; /* Adiciona padding para os botões */
    margin: 0 10px; /* Espaçamento entre os botões */
    border-radius: 50%; /* Tornando os botões circulares */
    display: inline-block;
    text-decoration: none; /* Remove o sublinhado */
    transition: background-color 0.3s ease; /* Efeito suave na cor de fundo ao passar o mouse */
}

.social-media-buttons a:hover {
    background-color: #e94e00; /* Alteração da cor no hover para um tom mais escuro */
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px; /* Espaçamento vertical entre os itens */
        text-align: center; /* Centraliza o conteúdo no modo mobile */
    }
}
