.Include-Engenharia h2 {
    font-size: 3.5rem;
    color: #eedf0a;
    font-family: 'Rubik Wet Paint', cursive;
    text-shadow: 
        2px 2px 4px black, 
        -2px -2px 4px black, 
        2px -2px 4px black, 
        -2px 2px 4px black; 
    margin-left: 4%;
    
}
.Include-Engenharia h3 {
    font-size: 2.5rem;
    color: #d40c0c;
    font-family: 'Rubik Wet Paint', cursive;
    text-shadow: 
        2px 2px 4px black, 
        -2px -2px 4px black, 
        2px -2px 4px black, 
        -2px 2px 4px black; 

}
.Include-Engenharia p {
    font-size: 1.2rem;
    color: #f4f4f4; 
    font-family: 'Poppins', sans-serif;
}
.Include-Engenharia ul li {
    margin: 8px 0;
    font-size: 1.5rem;
    color: #000000; 
    font-family: 'Rubik Wet Paint', cursive;
    box-sizing: border-box
}
.Include-Engenharia pre {
    font-size: 1.2rem;
    color: #f4f4f4; 
    font-family: 'Poppins', sans-serif;
}

#Banner3 img {
    max-width: 30%; 
    height: 30%;
    margin-left: 13%;
}
.Include-Engenharia {
    flex-direction: column;
    align-items: center;
}

#Banner3 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


    