#Include {
    display: flex;
    min-height: calc(100vh - 91px);
    background: linear-gradient(45deg, #ff6600, #000);
}   
.Include-Engenharia h2 {
    font-size: 3.5rem;
    color: #eedf0a;
    font-family: 'Rubik Wet Paint', cursive;
    text-shadow: 
        2px 2px 4px black, 
        -2px -2px 4px black, 
        2px -2px 4px black, 
        -2px 2px 4px black; /* Detalhes pretos nas letras */ 
}
.Include-Engenharia h3 {
    font-size: 2.5rem;
    color: #d40c0c;
    font-family: 'Rubik Wet Paint', cursive;
    text-shadow: 
        2px 2px 4px black, 
        -2px -2px 4px black, 
        2px -2px 4px black, 
        -2px 2px 4px black; /* Detalhes pretos nas letras */

}
.Include-Engenharia p {
    font-size: 1.2rem;
    color: #f4f4f4; /* Cor de texto mais suave para parágrafos */
    font-family: 'Poppins', sans-serif;
}
.Include-Engenharia ul li {
    margin: 8px 0;
    font-size: 1.5rem;
    color: #000000; 
    font-family: 'Rubik Wet Paint', cursive;
    box-sizing: border-box
}
.Include-Engenharia pre {
    font-size: 1.2rem;
    color: #f4f4f4; /* Cor de texto mais suave para parágrafos */
    font-family: 'Poppins', sans-serif;
}
#Banner3 {
    display: flex;
    align-items: center; /* Centraliza verticalmente, se necessário /
    justify-content: flex-end; / Alinha a imagem totalmente à direita */
    width: 100%;
    max-width: 900px;
    height: auto;
}