
#perfil {
    display: flex;
    min-height: calc(100vh - 91px);
    background: linear-gradient(45deg, #ff6600, #000);
}

.perfil-info {
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
}

.perfil-info h3 {
    font-size: 2.5rem;
    color: #d40c0c;
    font-family: 'Rubik Wet Paint', cursive;
    text-shadow: 
        2px 2px 4px black, 
        -2px -2px 4px black, 
        2px -2px 4px black, 
        -2px 2px 4px black; /* Detalhes pretos nas letras */
        text-align: justify; 
}

.perfil-container h2 {
    font-size: 4rem;
    color: #d40c0c;
    font-family: 'Rubik Wet Paint', cursive;
    text-shadow: 
        2px 2px 4px black, 
        -2px -2px 4px black, 
        2px -2px 4px black, 
        -2px 2px 4px black; /* Detalhes pretos nas letras */ 
}

.perfil-detalhes {
    font-family: "Poppins", sans-serif; /* Fonte para o container de detalhes */
}

.perfil-detalhes h3 {
    font-size: 2.5rem;
    color: #d40c0c;
    font-family: 'Rubik Wet Paint', cursive;
    text-shadow: 
        2px 2px 4px black, 
        -2px -2px 4px black, 
        2px -2px 4px black, 
        -2px 2px 4px black; /* Detalhes pretos nas letras */ 
}

.perfil-detalhes ul li {
    margin: 8px 0;
    font-size: 1.2rem;
    color: #ddd; /* Texto mais suave para as listas, contrastando melhor com o fundo escuro */
    font-family: 'Poppins', sans-serif;
}

.perfil-detalhes p {
    font-size: 1.2rem;
    color: #f4f4f4; /* Cor de texto mais suave para parágrafos */
    font-family: 'Poppins', sans-serif;
}


